.nav-colour {background-color: #42b254;}
.sky-colour {background-color:#00abc7;}
footer{background-color:#42b254}
body{background-color:#90ee90}
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 992px){
    .borderimg { 
        background: url('../images/lady.png') no-repeat right bottom, url('../images/image-side3.png') repeat-y right top; 
        background-size: 750% ,100%;
    }
}

@media screen and (max-width: 768px){
    .borderimg { 
        background: url('../images/lady.png') no-repeat right bottom, url('../images/image-side3.png') repeat-y right top; 
        background-size: 75% ,75%;
    }
}

@media screen and (min-width: 992px){
    div.logo::after{					
        content: url('../images/hbdhb-logo.png');
    }
    .borderimg { 
        background: url('../images/lady.png') no-repeat right bottom, url('../images/image-side3.png') repeat-y right top; 
        background-size: 50% ,auto;
    }
}

.carousel-caption {
    color:black;
    position: relative;
    left: auto;
    right: auto;
}
.carousel-indicators {
    position: static;
}