@media screen and (min-width: 992px){
    .verticalnavbar{
        padding-top: 20vh;
    }
    .borderimg { 
        background: url('../images/lady.png') no-repeat right bottom, url('../images/image-side3.png') repeat-y right top; 
        background-size: 100% ,auto;
    }
}
.some-padding {padding:50px}